---
layout: default
permalink: /series/
---


<ul class='series-list'>
  <li><div style="padding-left: 25px;margin-bottom:30px">Below, you may browse some of the common themes of posts on my site.</div></li>
  {% for series in site.data.series %}
  <li>
    <div class='hr-container'>
      <hr/>
    </div>
    {% assign id = series | map: 'id' %}
    <a id="{{ id }}"></a>
    <div class='left-big-square'>&nbsp;</div>
    <div class='text'> <h2>{{ series.title }}</h2>  </div>
    <ul class='series-posts'>
      <li>
        <div style="padding-left: 25px;margin-bottom:30px">{{ series.description }}</div>
      </li>
      {% assign posts = site.posts | where: 'series', series.id | reverse%}
      {% for post in posts %}
        <li>
          <div class='hr-container'>
            <hr/>
          </div>
          <div class="little-square" style='display: inline-block; position: absolute;  margin-top:5px; margin-left: -15px'></div>
            <a href="{{post.url}}">{{ post.title }}</a>

        </li>
      {% endfor %}
    </ul>
    <div class='hr-container' style='visibility:hidden'></div>
    <div class="little-square" style='position:absolute; margin-top:-10px; margin-left:-4px; display:inline-block'></div>

  </li>
  {% endfor %}
</ul>
<div class="little-square" style="margin-top: -20px; margin-left: -4px"></div>